//TODO
//掘金app二维码页面
.sticky {
	height: 74px;
	display: flex;
	align-items: center;
	background-color: white;
	margin-bottom: 15px;
	.image {
		margin: 10px;
		width: 20%;
		height: auto;
		background-size: cover;
	}
	.words {
		margin-left: 10px;
		.headline {
			font-size: 14px;
			color: #1d2129;
			margin-bottom: 10px;
		}
		.desc {
			font-size: 12px;
			color: #86909c;
		}
	}
}
