//TODO
//掘金app二维码页面
.sticky {
	cursor: pointer;
	height: 4.625rem;
	display: flex;
	align-items: center;
	background-color: white;
	margin-bottom: 1.5rem;
	.image {
		margin: 0.625rem;
		width: 20%;
		height: auto;
		background-size: cover;
	}
	.words {
		margin-left: 0.625rem;
		.headline {
			font-size: 14px;
			color: #1d2129;
			margin-bottom: 0.625rem;
		}
		.desc {
			font-size: 12px;
			color: #86909c;
		}
	}
}
