// 变量
$bgcolor: #fff;
$font-1: #515767;
$font-hover: #000;
$navHeight: 5rem; //样式

.navbar {
  position: fixed;
  top: 0;
  align-items: center;
  background-color: $bgcolor;
  width: 100%;
  height: $navHeight;
  min-width: 60rem;
  z-index: 200;
  border-bottom: 1px solid #f1f1f1;

  .nav-container {
    width: 100%;
    height: $navHeight;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    //logo图标，后续适配主题
    .logo {
      display: block;
      width: auto;
      height: 22px;
    }
    //首页导航项
    .navlist-container {
      height: $navHeight;
      margin-left: 1.4375rem;
      width: 30rem;
      .nav {
        display: flex;
        li {
          flex: 1 1 auto;
          position: relative;
          font-size: 1rem;
          color: $font-1;
          cursor: pointer;
          text-align: center;

          a {
            display: inline-block;
            height: $navHeight;
            line-height: $navHeight;
            &:hover {
              border-bottom: 2.5px solid #1e80ff;
              color: $font-hover;
            }
          }
          .label {
            text-align: center;
            background-color: red;
            border-radius: 5rem;
            width: 55px;
            position: absolute;
            color: #fff;
            right: -1.25rem;
            top: 1.0625rem;
            font-size: 0.25rem;
          }
        }

        .selected {
          color: #1e80ff;
        }
      }
    }
  }
}
