//TODO
//广告位页面
.banner {
	// text-align: center;
	// background-color: white;
	margin-top: 100px;
	margin-bottom: 15px;
	height: auto;
	.image {
		// margin-top: 20%;
		width: auto;
		height: auto;
		// background: url(./images/banner.png) no-repeat;
		// background-size: 100% 100%;
	}
}
