html[data-theme='dark'] {
	--primary-color: #ffffff; //layout,navList等字体的主要颜色
	--secondary-color: #7d7d7f; //label等信息的颜色
	--body-background-color: #131313; //body的背景颜色
	--navbar-font-hover: #b4b4b4; //navbar中标签鼠标经过时的颜色
	--navbar-background-color: #272626; //layout,navList的背景颜色;
	--link-color: #1352a3; //被选中标签/hover时的颜色
	--layout-border-color: #fff; //layout边框颜色
	--global-border-color: #494949; //文章组件的下边框颜色
	--art-author-color: #fff; //文章作者名
	--art-title-color: #fff;
	--art-user-color: #fff;
	--art-icon-color: #7d7d7f;
	--sticky-title-color: #fff; //掘金二维码界面标题
	--sticky-desc-color: #86909c; //掘金二维码界面描述
	--art-content-color: #7d7d7f;
	--art-nav-border-color: #494949;
	--user-link-hover: #2d2d2d; //排行榜鼠标经过时的颜色
	--user-name-color: #fff;
	--user-position-color: #7d7d7f;
	--user-header-color: #fff;
	--user-more-color: #1352a3; //完整榜单
}

html[data-theme='light'] {
	--body-background-color: #f2f3f5; //body的背景颜色
	--primary-color: #515767; //layout,navList等字体的主要颜色
	--navbar-font-hover: #000; //navbar中标签鼠标经过时的颜色
	--navbar-background-color: #fff; //layout,navList的背景颜色;
	--link-color: #0070f3; //被选中标签/hover时的颜色
	--layout-border-color: #eaeaea; //layout边框颜色
	--art-title-color: #000;
	--art-content-color: #86909c;
	--art-user-color: #000;
	--art-icon-color: #4e5969;
	--global-border-color: #ddd; //文章组件的下边框颜色
	--secondary-color: #86909c; //label等信息的颜色
	--art-author-color: #000; //文章作者名
	--art-nav-border-color: #eaeaea;
	--sticky-title-color: #1d2129; //掘金二维码界面标题
	--sticky-desc-color: #86909c; //掘金二维码界面描述
	--user-link-hover: #fbfbfb; //排行榜鼠标经过时的颜色
	--user-name-color: #333; //排行榜用户名信息
	--user-position-color: #909090; //排行榜用户介绍
	--user-more-color: #007fff; //完整榜单
}
